<!DOCTYPE html>
<html>
<head>
<script>
  function sendMessageToStreamlitClient(type, data) {
    const outData = Object.assign({
      isStreamlitMessage: true,
      type: type,
    }, data);
    window.parent.postMessage(outData, "*");
  }
  function setComponentValue(value) {
    sendMessageToStreamlitClient("setComponentValue", { value: value });
  }
  function init() {
    sendMessageToStreamlitClient("setFrameHeight", { height: 0 });
    if ("geolocation" in navigator) {
      navigator.geolocation.getCurrentPosition(
        function(position) {
          setComponentValue({
            lat: position.coords.latitude,
            lng: position.coords.longitude
          });
        },
        function(error) {
          setComponentValue({error: error.message});
        },
        { enableHighAccuracy: true, timeout: 10000, maximumAge: 0 }
      );
    } else {
      setComponentValue({error: "Geolocation not supported"});
    }
  }
  window.addEventListener("load", init);
</script>
</head>
<body></body>
</html>